# Django Settings
DJANGO_SECRET_KEY=django-insecure-d1*f5olv@ikur#!!ux#yot&(qfhjbh((6d(^%50x6$++90j@=e
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Database Settings (Leave empty for SQLite)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=qlvb_db
# DB_USER=qlvb_user
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432
DATABASE_URL=postgres://qlvb_db_user:Qa061088@sql.giadinhvit.com:5432/qlvb_db

# Celery/Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Production Paths
# STATIC_ROOT=/var/www/html/qlvb/backend/staticfiles
# MEDIA_ROOT=/var/www/html/qlvb/backend/media
